.navbar-inverse .navbar-nav > li > a{
  color:#4888F4;
}
.top-text{
  padding: 20px;
}
.top-text__name{
  color: #313131;
  font-size:50px;
}
.top-text__name--center{
  text-align: center;
}
.top-text__name--small{
  font-size: 25px;
}
