body {
  font-family: Helvetica;
}
.job {
  border: 15px solid #222222;

  &--left{
    text-align: left;
  }
  &--center{
    text-align: center;
  }
  &__description {
    color: #fff;
    font-size:14px;
    background: #222222;
  }

  &__year {
    color: #222222;
    font-size:50px;
    background: #fff;
    padding: 33px 0;
  }
}
.clear{
  clear:both;
}

@for $i from 1 through 8 {
  .job__year--right-#{$i*2} {
  float: right;
  }
}